################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
# And yes, the .vs folder should be ignored - github copilot doesn't want to be staged
################################################################################

/.vs
/functions/__pycache__
/2data.txt
